.card {
	display: flex;
	margin-top: 10px;
    color: var(--color-white);
	font-family: var(--font-family);

	.name {
	  font-size: 1.5em;
	  font-weight: 700;
	  margin-left: 10px;
	  
	}
	.stars {
	  margin-left: auto;
	}
	
  }
  .contributors{
		color: var(--color-white);
		font-family: var(--font-family);
	}
.img {
	height: 60px;
	width: 60px;
}
.arrowBack {
	//border: none;
	background: var(--color-page-bg);
    color: var(--color-blue);
	height: 30px;
	width: 30px;
}