html {
	background-color:  var(--color-page-bg);
}

body {
	margin: auto;
	width: 80%;
  }
  
:root {
	--color-page-bg: #22272e;
	--color-blue: #316dca;
	--color-grey: #444c56;
	--color-white: #adbac7;
  }